.app_green_theme {
    --bg-color: #f3faf4;
    --inverted-bg-color: #2b5730;
    --primary-color: #4b8851;
    --secondary-color: #6ea374;
    --inverted-primary-color: #d3e8d7;
    --inverted-secondary-color: #f3faf4;
}
