.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover,
    &:focus {
        background: var(--light-bg-redesigned);
        color: var(--accent-redesigned);
    }
}
